{% extends 'base.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}

{% block body %}
    <h1 class="font-semibold text-2xl text-foreground">Vous avez été désinscrit avec succès de notre newsletter.</h1>
    <a href="{{ path('app_homepage') }}" type="button" class="btn btn-primary mt-4">Revenir à la page d'accueil</a>
{% endblock %}
