{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
    <div class="flex flex-col gap-8">
        <h1 class="font-semibold text-2xl text-foreground">Contactez-nous</h1>
        <p>Pour nous contacter, veuillez nous écrire à l'adresse suivante: <a class="font-medium hover:underline" href="mailto:contact@macoloc.fr">contact@macoloc.fr</a></p>
        <p>Nous nous ferons un plaisir de répondre à toutes vos questions et demandes dans les plus brefs délais.</p>
    </div>
{% endblock %}
