<div class="grid my-12 lg:my-0 lg:grid-cols-2 md:min-h-[578.55px]">
    <img src="{{ asset('images/authentication-image.webp') }}" alt="" class="hidden max-h-[700px] h-full lg:block w-full object-cover">
    <div class="flex items-center md:my-6 justify-center lg:px-8 w-full">
        {{ block('form_content') }}
    </div>
</div>
