<footer class="bg-ternary py-6">
    <div class="wrapper text-sm text-foreground">
        <nav class="md:flex flex-row justify-between items-start">
            <div class="hidden md:block">
                <ul>
                    <li class="flex flex-col gap-1 items-center">
                        <img src="{{ asset('images/logo.png') }}" alt="Macoloc" class="object-contain w-24">
                        <h1 class="text-primary font-semibold">Macoloc</h1>
                    </li>
                </ul>
            </div>
            <div>
                <p class="uppercase text-muted mb-4">Explorer</p>
                <ul class="flex gap-4 flex-col">
                    <li><a href="{{ path('app_homepage') }}">Accueil</a></li>
                    <li><a href="{{ path('app_search_housing') }}">Rechercher</a></li>
                    <li><a href="{{ path('app_publish_housing') }}">Publier une annonce</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div>
                <p class="uppercase text-muted mb-4 md:mt-0 mt-8">Informations légales</p>
                <ul class="flex gap-4 flex-col">
                    <li><a href="#">Politique de confidentialité</a></li>
                    <li><a href="#">Conditions d’utilisation</a></li>
                </ul>
            </div>
        </nav>
        <p class="mt-8 md:text-center">&copy; 2024 Macoloc</p>
    </div>
</footer>
