<p class="text-sm sm:text-base text-muted text-center">Inscrivez-vous à pour être informé quotidiennement des nouvelles annonces publiées.</p>
{# TODO Add action="{{ path('app_test') }}" #}
<form action="" method="POST" class="flex flex-col sm:flex-row gap-2 sm:gap-0 justify-center h-full ">
    <label for="_newsletter" class="sr-only">Entrez une adresse e-mail</label>
    <input placeholder="Votre adresse e-mail" type="email" name="_newsletter" id="_newsletter" required class="text-foreground bg-white text-sm block w-full p-2.5 border border-input focus:z-10 focus:ring-accent focus:border-accent rounded-lg sm:rounded-none sm:rounded-l-lg">
    <button type="submit" class="btn btn-primary sm:!rounded-none sm:!rounded-r-lg">S'inscrire</button>
</form>
