{% extends 'base.html.twig' %}

{% block title %}Verifier votre boîte e-mail{% endblock %}

{% block body %}
    {% embed 'partials/_authentication.html.twig' %}
        {% block form_content %}
            <form method="post" class="w-full max-w-lg">
                <div class="border-input border rounded-lg p-6 grid gap-4">
                    <div class="p-4 bg-ternary rounded-full w-fit mx-auto">
                        <twig:ux:icon name="lucide:mail" class="w-8 object-contain" />
                    </div>
                    <h1 class="font-semibold text-xl">Vérifiez votre e-mail</h1>
                    <p class="text-muted">Un e-mail vous a été envoyé. Celui-ci expire dans {{ resetToken.expirationMessageKey | trans(resetToken.expirationMessageData, 'ResetPasswordBundle') | replace({'hour': 'heure', 'hours': "heures"}) }}.</p>
                    <p class="text-muted mt-1">Pensez à vérifier vos spams.</p>

                    <a href="{{ path('app_login') }}" class="btn btn-primary">Retour à la page de connexion</a>
                </div>
            </form>
        {% endblock %}
    {% endembed %}
{% endblock %}
