@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-white;
}

.btn {
    @apply inline-flex items-center justify-center rounded-[10px] transition-colors focus-visible:outline-none focus-visible:ring-2 disabled:opacity-50 disabled:pointer-events-none px-4 py-2 gap-3;
}

.btn-primary {
    @apply bg-primary text-white hover:bg-primary/80;
}

.btn-secondary {
    @apply bg-white border border-input text-foreground hover:bg-white/80;
}

.btn-ternary {
    @apply bg-ternary text-foreground hover:bg-ternary/80;
}

.btn-ghost {
    @apply text-foreground bg-white hover:bg-white/80;
}

.wrapper {
    @apply mx-auto w-full max-w-[1152px] px-4 md:px-6;
}

.alert {
    @apply p-4 mb-3 text-sm rounded-lg;
}

.alert-danger {
    @apply text-destructive bg-destructive/5;
}

/*Password toggler*/

.custom-toggle-password-icon {
    @apply w-6 object-contain text-muted;
}

.custom-toggle-password-button {
    @apply flex items-center bg-transparent border-none gap-x-1 flex-row text-sm justify-items-center h-4 leading-5 absolute right-3 top-[14px];
}

.home__search {
    background-image: url('../images/authentication-image.webp');
    background-position: center center;
    background-size: cover;
}

/* Hide swiper navigation if disabled */
.swiper-button-disabled {
    display: none !important;
}

.swiper-button-prev, .swiper-button-next {
    @apply !text-accent;
}

@media all and (width <= 992px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
}
