@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-white;
}

.btn {
    @apply inline-flex items-center text-center justify-center rounded-[10px] transition-colors focus-visible:outline-none focus-visible:ring-2 disabled:opacity-50 disabled:pointer-events-none px-4 py-2 gap-3;
}

.btn-primary {
    @apply bg-primary text-white hover:bg-primary/80;
}

.btn-secondary {
    @apply bg-white border border-input text-foreground hover:bg-white/80;
}

.btn-ternary {
    @apply bg-ternary text-foreground hover:bg-ternary/80;
}

.btn-destructive {
    @apply bg-destructive text-white hover:bg-destructive/80;
}

.btn-ghost {
    @apply text-foreground hover:bg-opacity-80;
}

.wrapper {
    @apply mx-auto w-full max-w-[1152px] px-4 md:px-6;
}

.alert {
    @apply p-4 mb-3 text-sm rounded-lg;
}

.alert-success {
    @apply text-success bg-success/10;
}

.alert-warning {
    @apply text-warning bg-warning/10;
}

.alert-danger {
    @apply text-destructive bg-destructive/10;
}

/*Password toggler*/

.custom-toggle-password-icon {
    @apply w-6 object-contain text-muted;
}

.custom-toggle-password-button {
    @apply flex items-center bg-transparent border-none gap-x-1 flex-row text-sm justify-items-center h-4 leading-5 absolute right-3 top-[14px];
}

.home__search {
    background-image: url('../images/authentication-image.webp');
    background-position: center center;
    background-size: cover;
}

/* Hide swiper navigation if disabled */
.swiper-button-disabled {
    display: none !important;
}

.swiper-button-prev, .swiper-button-next {
    @apply !text-accent;
}

.swiper-pagination-bullet-active {
    @apply !bg-accent;
}

@media all and (width <= 992px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none !important;
    }
}

.preview-image {
    @apply w-32 h-32 rounded-lg object-cover bg-white;
}

/* Dialog */

/* Prevent scrolling while dialog is open */
body:has(dialog[data-dialog-target='dialog'][open]) {
    overflow: hidden;
}

/* Customize the dialog backdrop */
dialog {
    box-shadow: 0 0 0 100vw rgb(0 0 0 / 0.5);
    border-radius: 0.5rem;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Add animations */
dialog[data-dialog-target='dialog'][open] {
    animation: fade-in 75ms forwards;
}

dialog[data-dialog-target='dialog'][closing] {
    animation: fade-out 75ms forwards;
}
