<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

{#        Font family#}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="overflow-x-hidden mx-auto flex min-h-[100dvh] flex-col justify-center">
        {% include 'partials/_header.html.twig' %}
        {% set route = app.request.get('_route') %}
        {% if route in [
            'app_login',
            'app_check_mail',
            'app_reset_password',
            'app_forgot_password_request',
            'app_check_email',
            'app_register',
            'app_verify_email',
            'app_register_verify',
            'app_register_profile'
        ] %}
        <main class="grow mx-auto w-full px-4 md:px-6 lg:px-0">
        {% elseif app.request.get('_route') in [
        'app_homepage'
        ]  %}
        <main class="grow mx-auto w-full mb-8 md:mb-12">
        {% else %}
        <main class="grow wrapper my-8 my:my-12">
        {% endif %}
        {% for label, messages in app.flashes %}
            <div class="mb-6 md:mb-8">
                <div class='alert alert-{{ label }}'>
                    {% for message in messages %}
                        <p>{{ message | raw }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        {% block body %}
        {% endblock %}
        </main>
        {% include 'partials/_footer.html.twig' %}
    </body>
</html>
