<div{{ attributes.defaults(stimulus_controller('search')) }}>
    <div class="flex flex-col sm:flex-row gap-2 sm:gap-0 justify-center">
        <div class="hidden sm:block min-w-[120px]">
            <label for="searchType" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Choisissez le type de recherche</label>
            <select id="searchType" name="searchType" required="required" class="text-foreground bg-white text-sm block w-full p-2.5 border border-input focus:z-10 focus:ring-accent focus:border-accent rounded-lg sm:rounded-none sm:rounded-l-lg">
                <option value="1" selected="selected">Logement</option>
                <option value="2">Locataire</option>
            </select>
        </div>
        <div class="relative">
            <div class="relative w-full sm:min-w-[376px] flex">
                <div class="sm:hidden min-w-[120px]">
                    <label for="searchType2" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Choisissez le type de recherche</label>
                    <select id="searchType2" name="searchType2" required="required" class="text-foreground bg-white text-sm block w-full p-2.5 border border-input focus:z-10 focus:ring-accent focus:border-accent rounded-l-lg">
                        <option value="1" selected="selected">Logement</option>
                        <option value="2">Locataire</option>
                    </select>
                </div>
                <input
                    type="search"
                    id="search-dropdown"
                    class="text-foreground bg-white rounded-r-lg sm:rounded-none text-sm block w-full p-2.5 border border-input focus:z-10 focus:ring-accent focus:border-accent"
                    placeholder="Entrez une ville"
                    data-model="debounce(1000)|query"
                    data-search-target="input"
                />
            </div>
            <ul data-search-target="address" class="absolute z-50 w-full text-sm flex flex-col">
                {% for address in this.getAddress %}
                    <li data-action="click->search#selectAddress" class="bg-white p-2 py-4 cursor-pointer hover:bg-ternary">
                        <div class="flex justify-between">
                            <p>{{ address.label }}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {# TODO ajouter redirection #}
        <a href="#" class="btn btn-primary sm:!rounded-none sm:!rounded-r-lg">
            Rechercher
        </a>
    </div>
</div>

