{% extends 'base.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block body %}
    <div class="flex flex-col gap-8">
        <h1 class="font-semibold text-2xl text-center text-foreground">Erreur 404</h1>
        <div class="grid gap-8 place-items-center">
            <div class="p-9 bg-ternary w-fit rounded-full">
                <twig:ux:icon name="lucide:circle-help" class="w-36 object-fit text-foreground" />
            </div>
            <div class="grid gap-4 place-items-center">
                <p class="text-center text-muted">Il semble que la page que vous recherchez n'existe pas.</p>
                <a href="{{ path('app_homepage') }}" class="btn btn-primary w-max">Revenir à la page d'accueil</a>
            </div>
        </div>
    </div>
{% endblock %}
